Python/.metadata/
Python/SportsTutor/.settings/
Python/SportsTutor/__pycache__/
*.exe
*.tlog
*.1.tlog
*.log
SkeletonBasics-D2D/Debug/*.obj
SkeletonBasics-D2D/.vs/*
*.obj
SkeletonBasics-D2D/.vs/SkeletonBasics-D2D/v15/.suo
SkeletonBasics-D2D/.vs/SkeletonBasics-D2D/v15/.suo
SkeletonBasics-D2D/.vs/SkeletonBasics-D2D/v15/Browse.VC.db
*.obj
