Python/.metadata/
Python/SportsTutor/.settings/
Python/SportsTutor/__pycache__/
*.exe
*.tlog
*.1.tlog
*.log
SkeletonBasics-D2D/Debug/*.obj
SkeletonBasics-D2D/Debug/*
SkeletonBasics-D2D/.vs/*
*.obj
*.tmp
*.pyc
*.cpython-36.pyc